@font-face {
    font-family: 'ebgaramond12-regular';
    src: url('../libs/fonts/fonts ttf/ebgaramond12-regular-webfont.woff2') format('woff2'),
         url('../libs/fonts/fonts ttf/ebgaramond12-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-lightitalic';
    src: url('../libs/fonts/fonts ttf/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('../libs/fonts/fonts ttf/raleway-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'varelaround-regular';
    src: url('../libs/fonts/fonts ttf/varelaround-regular-webfont.woff2') format('woff2'),
         url('../libs/fonts/fonts ttf/varelaround-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
